* {
    margin:0;
    padding:0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    background-color:antiquewhite;
}

#header, #footer {
    color:black;
    text-align:center;
    padding:25px 35px;
}

#content {
    margin:0 10px;
}

#content a {
    display:block;
    padding:25px 0;
    border:black 5px solid;
    border-radius:5px;
    margin-bottom: 10px;
    text-decoration:none;
    text-align:center;
    color:black;
}
#content a:hover {
    text-decoration:underline;
    color:gray;
}